.root {
  flex: 1;
  background-color: rgb(245, 245, 245);
  border-left: 1px solid rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
}
.header {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  .option {
    display: flex;
    > div {
      height: 24px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      > span {
        font-size: 10px;
        color: gray;
      }
    }
    > div:nth-of-type(-n + 4):hover {
      background-color: rgba(229, 229, 229);
    }
    > div:nth-of-type(4):hover {
      background-color: rgba(250, 81, 81);
      > span {
        color: white;
      }
    }
  }
}





.black {
  height: calc(100% - 24px);
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 108px;
    height: 108px;
  }
}

